﻿@model IEnumerable<MVCFilmes.Models.Filme>

@{
    ViewBag.Title = "Filmes";
}



<h2>Filmes</h2>

<p>
    @Html.ActionLink("Novo Filme", "Create")

    @*@using (Html.BeginForm())
        {
        <p>
            Titulo: @Html.TextBox("procuraFilme")
            <input type="submit" value="Filtrar" />
        </p>
        }*@


    <!--passo a action, o controlador e o metodo-->
    @using (Html.BeginForm("Index","Filmes", FormMethod.Get))
    {
    <p>
        Género: @Html.DropDownList("procuraGenero", "Todos")
        Titulo: @Html.TextBox("procuraFilme")
        <input type="submit" value="Filtrar" />
    </p>
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEstreia)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataEstreia)
        </td>
       
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdFilme }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdFilme }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.IdFilme })
        </td>
    </tr>
}

</table>
