﻿
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>
<h3>@ViewBag.Mensagem</h3>
<h3>@ViewBag.NumeroVezes</h3>

<ul>
    @* para usar c# dentro do html @ e chamar o que quiser *@
    @for (int i = 0; i < ViewBag.NumeroVezes; i++)
    {
        <li>@ViewBag.Mensagem</li>
    }

</ul>