﻿@model IEnumerable<MVCFilmes.Models.Genero>

@{
    ViewBag.Title = "Géneros";
}

<h2>Géneros</h2>

<p>
    @Html.ActionLink("Novo Género", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdGenero }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.IdGenero })
        </td>
    </tr>
}

</table>
